:root {
  --root-background: #0f0f1c;
  --root-background-loader: 0, 0, 0;
  --button-background: rgb(156, 0, 156);
  --button-disabled-background: rgb(73, 73, 73);
  --font-light: white;
  --font-error: rgb(221, 73, 73);
  --spinner-background: white;
  --spinner-light: #f3f3f3;
  --spinner-blue: #3498db;
  --popup-error: red;
  --popup-success: green;
}
